{% extends 'base.html' %}
{% set active_page = "dashboard" %}
{% block content %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>




<div class="container theme-showcase" role="main">

      <div class="page-header">
        <br>
        <h1>Assets</h1>
      </div>
      <p>
	  <a type="button" class="btn btn-lg btn-default" id="btnHosts">Hosts</a>
      <a class="btn btn-lg btn-default" id="btnDomains">Domains</a>
      </p>
      <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
</div>

<script>
function myFunction() 
{
  var x = document.URL;
}
</script>

{% endblock %}
